input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  text-align: center;
}

.anchor_tag:hover {
  color: #0056b3 !important;
  text-decoration: underline !important;
}

.anchor_tag {
  color: #007bff !important;
  cursor: pointer;
}

.errormsg {
  color: red;
  font-size: 15px;
}
