.dropdown-toggle {
  float: left;
}
.r1 {
  float: right;
  /* clear: all; */
}
.sub {
  margin: 10px;
}
.req {
  margin-top: 50px;
}
.c1 {
  margin-top: 30px;
}
.fa-angle-double-right {
  font-size: 30px !important;
}

.allTabs {
  margin-top: 40px;
}
