.link-lay {
  font-size: 20px;
  margin: 5px;
}
.link-lay:hover {
  color: red;
}
.fa-icons-lay {
  margin: 20px 15px 0 900px !important;
  font-size: 20px;
}
.fa-plus:hover {
  color: green;
  text-decoration: underline;
}

.text-infos {
  color: grey;
}
.link-lay {
  font-size: 25px !important;
}
.delBtn {
  margin-right: 15px;
}
